@import 'global-var';

.main-nav{
}

.main-nav__item{
  list-style: none;
  background-color: $light-blue-color;
}

.main-nav__item-link{
  display: block;
  color: $white-color;
  font-family: ptsans;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

.main-nav__menu-button-open-wrapper{
  background-color: $white-color;
}
