.main-nav__item{
  list-style: none;
  border-bottom: 1px solid #73a7c7;
  border-top: 1px solid #8fbdda;
}

.main-nav__item-link{
  height: 56px;
  line-height: 56px;
  display: block;
  @include menu-link(18px);
}

.main-nav__item-link:hover{
  @include menu-link-hover();
  border-bottom: 1px solid $menu-hover-bg;
  border-top: 1px solid $menu-hover-bg;
}

.main-nav__item-link:active{
  @include menu-link-active();
  border-bottom: 1px solid $menu-active-bg;
  border-top: 1px solid $menu-active-bg;
}

.main-nav__menu-button-open-wrapper{
  background-color: $basic-bg;
}
