.page-footer {
  height: 226px - 46px;
  padding: 23px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: $basic-bg;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  width: 320px;
  height: 16px;
}

.page-footer__social-list {
  width: 152px;
  height: 49px;

  @include reset();
  margin: 45px auto 39px auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.page-footer__social-link {
  display: block;
  width: 47px;
  height: 47px;
  background: $menu-bg;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $menu-hover-bg;
  }

  &:active {
    background-color: $menu-active-bg;
  }

  &:active .page-footer__social-image {
    fill: #88b6d1;
  }
}

.page-footer__social-image {
  display: block;
  margin: 0 auto 0 auto;
  fill: #ffffff;
}

.page-footer__copyright {
  width: 320px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright-text {
  letter-spacing: 0.02em;
  margin-right: 5px;
  text-transform: uppercase;
  line-height: 26px;
}

.page-footer__copyright-link {
  margin-left: 5px;

  &:hover .page-footer__copyright-image {
    fill: $menu-bg;
  }

  &:active .page-footer__copyright-image {
    fill: #b2b2b2;
  }
}

@media (min-width: $width-tablet) {
  .page-footer {
    width: 648px;
    height: 119px - 72px;
    padding: 36px 0;
    margin: 0 auto;
    align-items: center;
  }

  .page-footer__social-list {
    width: 152px;
    height: 47px;
    padding: 0;
    margin: 0 auto;
  }

  .page-footer__hashtag {
    width: 162px;
    height: 47px;
    padding: 20px 0 0 0;
    text-align: left;
  }

  .page-footer__copyright {
    width: 162px;
    height: 47px;
    padding: 0;
    justify-content: flex-end;
    margin: 0;
  }

  .page-footer__copyright-link {
    margin-bottom: -5px;
    margin-left: 6px;
  }
}

@media (min-width: $width-desktop) {
  .page-footer {
    width: 1023px;
    margin: 0;
    margin-left: 133px;
    justify-content: space-between;
  }

  .page-footer__social-list {
    width: 152px;
    height: 47px;
    padding: 0;
    margin: 0;
  }

  .page-footer__hashtag {
    width: 136px;
    height: 47px;
    padding: 20px 0 0 0;
    margin: 0;
  }

  .page-footer__copyright {
    width: 227px;
    height: 47px;
    padding: 0;
    margin: 0;
  }

  .page-footer__copyright-link {
    margin: 0;
    margin-left: 6px;
  }
}
