.page-main{
  @include reset();

}

.page-main__header-wrapper{
  height: 190px-39px;
  padding-top: 39px;
}

.page-main__header-wrapper--home{
  height: 239px-57px;
  padding-top: 38px;
}

.page-main__header{
  @include reset();
  background-color: $basic-bg;
  color: $basic-color;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  white-space: pre-wrap;
  width: 256px;
  margin: 0 auto;

}

.page-main__introduction{
  width: 280px;
  background-color: $basic-bg;
  color: $description-color;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  margin: 26px auto;
}


@media (min-width: $width-tablet){
  .page-main__header-wrapper{
    height: 245px-70px;
    padding-top: 70px;
  }

  .page-main__header-wrapper--home{
    height: 206px-50px;
    padding-top: 50px;
  }

  .page-main__header{
    width: 440px;
    font-size: 30px;
    line-height: 26px;
  }

  .page-main__introduction{
    width: 440px;
    margin: 30px auto;
    line-height: 24px;
  }
}

@media (min-width: $width-desktop){
  .page-main__header-wrapper{
    height: 287px-110px;
    padding-top: 110px;
  }

  .page-main__header-wrapper--home{
    height: 205px-48px;
    padding-top: 48px;
  }

  .page-main__header{
    font-size: 30px;
    line-height: 26px;
  }
}
