.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 436px;
}

.page-header__image-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 159px;
  top: 280px;
  background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
    url("/img/bg-back-mobile@1x.jpg") center bottom no-repeat;
  background-size: cover, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
      url("/img/bg-back-mobile@2x.jpg") center bottom no-repeat;
    background-size: cover, auto;
  }
}

.page-header__image {
  display: block;
  width: 90%;
  height: 40px;
  /*margin: 50px auto 0 auto;*/
  margin: -15px auto 0 auto;
}

.page-header--home {
  position: relative;
  height: 670px;
}

.page-header__image-wrapper--home {
  width: 100%;
  height: 389px;
  display: flex;
  align-items: center;
  top: 280px;
  line-height: 390px;
  background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
    url("/img/bg-back-mobile@1x.jpg") center bottom no-repeat #a8c7e4;
  background-size: cover, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
      url("/img/bg-back-mobile@2x.jpg") center bottom no-repeat #a8c7e4;
    background-size: cover, auto;
  }
}

.page-header__image--home {
  display: block;
  width: 88%;
  height: auto;
  margin: 0 auto;
}

.page-header__logo-wrapper {
  position: absolute;
  top: 56px*4;
  left: 110px;
  z-index: 10;
  width: 150px;
  height: 80px;
}

.main-nav__menu-button-open {
  visibility: hidden;
}

@media (max-width: $mobile-width-only) {
  .page-header--nojs {
    & .main-nav__menu-button-open {
      display: none;
    }

    & .main-nav__menu-button-close {
      display: none;
    }
  }

  .page-header--closed-menu {
    height: 212px;

    &.page-header--home {
      height: 446px;
    }

    & .main-nav__list {
      display: none;
    }

    & .page-header__logo-wrapper {
      top: 0;
    }

    & .page-header__image-wrapper {
      top: 56px;
    }

    & .main-nav__menu-button-open {
      visibility: visible;
    }
  }
}

@media (min-width: $width-tablet) {
  .page-header {
    height: 346px;
  }

  .page-header__image-wrapper {
    position: absolute;
    width: 100%;
    height: 290px;
    top: 56px;
    background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
      url("/img/bg-back-tablet@1x.jpg") center bottom no-repeat #948888;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
        url("/img/bg-back-tablet@2x.jpg") center bottom no-repeat #948888;
      background-size: 100%, auto;
    }
  }

  .page-header__image {
    display: block;
    width: 59.5%;/*460px;*/
    height: auto;
    margin: -22px auto 0 auto;
  }

  .page-header--home {
    height: 575px;
  }

  .page-header__image-wrapper--home {
    position: absolute;
    width: 100%;
    height: 518px;
    top: 56px;
    background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
      url("/img/bg-back-tablet@1x.jpg") center bottom no-repeat #a8c7e4;;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
        url("/img/bg-back-tablet@2x.jpg") center bottom no-repeat #a8c7e4;;
      background-size: 100%, auto;
    }
  }

  .page-header__image--home {
    width: 60%;
    margin: -20px auto 0 auto;
  }

  .page-header__logo-wrapper {
    position: absolute;
    top: 0;
    left: 43.5%;
    z-index: 10;
  }
}

@media (min-width: $width-desktop) {
  .page-header {
    height: 357px;
  }

  .page-header__image-wrapper {
    position: absolute;
    width: 100%;
    height: 302px;
    top: 56px;
    background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
      url("/img/bg-back-desktop@1x.jpg") center bottom no-repeat #948888;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
        url("/img/bg-back-desktop@2x.jpg") center bottom no-repeat #948888;
      background-size: 100%, auto;
    }
  }

  .page-header__image {
    display: block;
    width: 38%;
    height: auto;
    margin: -20px auto 0 auto;
  }

  .page-header--home {
    height: 575px;
  }

  .page-header__image-wrapper--home {
    position: absolute;
    width: 100%;
    height: 518px;
    top: 56px;
    background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
      url("/img/bg-back-desktop@1x.jpg") center bottom no-repeat #a8c7e4;;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
        url("/img/bg-back-desktop@2x.jpg") center bottom no-repeat #a8c7e4;;
      background-size: 100%, auto;
    }
  }

  .page-header__image--home {
    display: block;
    width: 39%;
    margin: -13px auto 0 auto;
  }

  .page-header__logo-wrapper {
    position: absolute;
    top: 0;
    left: 42.2%;
    z-index: 10;
    width: 196px;
    height: 96px;
    overflow: visible;
  }

  .page-header__logo-image {
    width: 186px;
    height: 96px;
  }
}
