.page-footer{
  height: 234px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
/*  align-items: space-around;*/
  align-items: flex-end;
  background-color: $basic-bg;
}

/*.page-footer__hashtag*/
.page-footer b{
    display: flex;
    align-items: flex-end;
    font-size: 21px;
    line-height: 26px;
    width: 320px;
    height: 70px;
    justify-content: center;
}

.page-footer__social-list{
  width: 256px;
  @include reset();
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.page-footer__copyright{
  width: 320px;
}

@media (min-width: $width-tablet){
  .page-footer{
    height: 121px;
    line-height: 121px;
    margin-top: 20px;
  }

  .page-footer__social-list{
    width: 256px;
  }

  .page-footer b{
    width: 256px;
    height: 75px;
  }

  .page-footer__copyright{
    width: 256px;
    height: 75px;
  }
}


@media (min-width: $width-desktop){
  .page-footer{
    height: 121px;
    line-height: 121px;
    justify-content: space-around;
  }

  .page-footer b{
    width: 256px;
    height: 86px;
  }

  .page-footer__copyright{
    width: 256px;
    height: 86px;
    margin-right: -90px;
    margin-left: 90px;
  }
}
