.page-header {
  position: relative;
  height: 436px;
}

.page-header__image-container {
  position: absolute;
  width: 100%;
  height: 159px;
  top: 280px;
  background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
    url("/img/bg-back-mobile@1x.jpg") center bottom no-repeat;
  background-size: cover, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
      url("/img/bg-back-mobile@2x.jpg") center bottom no-repeat;
    background-size: cover, auto;
  }
}

.page-header--home {
  position: relative;
  height: 670px;
}

.page-header__image-container-home {
  position: absolute;
  width: 100%;
  height: 390px;
  top: 280px;
  background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
    url("/img/bg-back-mobile@1x.jpg") center bottom no-repeat;
  background-size: cover, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("/img/bg-intro-triangle-mobile.svg") 49.85%  100% no-repeat,
      url("/img/bg-back-mobile@2x.jpg") center bottom no-repeat;
    background-size: cover, auto;
  }
}

.page-header__image-wrapper-home {
  width: 88%;
  height: auto;
  margin: 90px auto 0 auto;
}

.page-header__image-wrapper {
  width: 90%;
  height: 40px;
  margin: 50px auto 0 auto;
}

.page-header__image {
  width: 100%;
  height: 100%;
}

.page-header__logo-wrapper {
  position: absolute;
  top: 56px*4;
  left: 110px;
  z-index: 10;
  width: 150px;
  height: 80px;
}

@media (min-width: $width-tablet) {
  .page-header {
    height: 346px;
  }

  .page-header__image-container {
    position: absolute;
    width: 100%;
    height: 290px;
    top: 56px;
    background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
      url("/img/bg-back-tablet@1x.jpg") center bottom no-repeat;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
        url("/img/bg-back-tablet@2x.jpg") center bottom no-repeat;
      background-size: 100%, auto;
    }
  }

  .page-header__image-wrapper {
    width: 59.5%;/*460px;*/
    height: auto;
    margin: 95px auto 0 auto;
  }

  .page-header--home {
    height: 575px;
  }

  .page-header__image-container-home {
    position: absolute;
    width: 100%;
    height: 520px;
    top: 56px;
    background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
      url("/img/bg-back-tablet@1x.jpg") center bottom no-repeat;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-tablet.svg") center bottom no-repeat,
        url("/img/bg-back-tablet@2x.jpg") center bottom no-repeat;
      background-size: 100%, auto;
    }
  }

  .page-header__image-wrapper-home {
    width: 60%;
    margin: 75px auto 0 auto;
  }

  .page-header__logo-wrapper {
    position: absolute;
    top: 0;
    left: 43.5%;
    z-index: 10;
  }
}

@media (min-width: $width-desktop) {
  .page-header {
    height: 357px;
  }

  .page-header__image-container {
    position: absolute;
    width: 100%;
    height: 302px;
    top: 56px;
    background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
      url("/img/bg-back-desktop@1x.jpg") center bottom no-repeat;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
        url("/img/bg-back-desctop@2x.jpg") center bottom no-repeat;
      background-size: 100%, auto;
    }
  }

  .page-header__image-wrapper {
    width: 38%;
    height: auto;
    margin: 103px auto 0 auto;
  }

  .page-header--home {
    height: 575px;
  }

  .page-header__image-container-home {
    position: absolute;
    width: 100%;
    height: 520px;
    top: 56px;
    background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
      url("/img/bg-back-desktop@1x.jpg") center bottom no-repeat;
    background-size: 100%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("/img/bg-intro-triangle-desktop.svg") center bottom no-repeat,
        url("/img/bg-back-desctop@2x.jpg") center bottom no-repeat;
      background-size: 100%, auto;
    }
  }

  .page-header__image-wrapper-home {
    width: 39%;
    margin: 75px auto 0 auto;
  }

  .page-header__logo-wrapper {
    position: absolute;
    top: 0;
    left: 42.2%;
    z-index: 10;
  }
}
