.page-header{
  position: relative;
}

.page-main__header{
  background-color: $basic-bg;
  @include reset();
}

.page-main__introduction{
  background-color: $basic-bg;
}

@media (min-width: 768px){
  .page-header::after{
    content: "";
    display: block;
    width: 100%;
    height: 576px;
    background-color: $menu-bg; /*временно*/
  }

  .page-main__header-wrapper{
    height: 206px;
  }
}

@media (min-width: 1200px){
  .page-header::after{
    content: "";
    display: block;
    width: 100%;
    height: 520px;
    background-color: $menu-bg; /*временно*/
  }

  .page-main__header-wrapper{
    height: 206px;
  }

}
