.page-footer{
  padding: 40px 0 23px 0;
  background-color:  $basic-bg;
  height: 179px;
  text-align: center;
}

.page-footer__hashtag{
  color: $basic-color;
  font-family: ptsans;
  font-weight: bold;
  font-size: 21px;
}

.page-footer__copyright-text{
  color: $basic-color;
  font-family: ptsans;
  font-size: 14px;

}
