.page-main {
  @include reset();
}

.page-main__header-wrapper {
  padding-top: 39px;
}

.page-main__header-wrapper--home {
  padding-top: 38px;
}

.page-main__header {
  @include reset();
  background-color: $basic-bg;
  color: $basic-color;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  white-space: pre-wrap;
  margin: 0 32px;
}

.page-main__introduction {
  background-color: $basic-bg;
  color: $description-color;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  width: auto;
  margin: 27px 22px 0 23px;
}

.page-main__introduction--home {
  line-height: 26px;
}

@media (min-width: $width-tablet) {
  .page-main__header-wrapper{
    padding-top: 75px;
  }

  .page-main__header-wrapper--home {
    padding-top: 50px;
  }

  .page-main__header {
    margin: 0;
    padding: 0 164px;
    font-size: 30px;
    line-height: 26px;
  }

  .page-main__header--home {
    font-size: 21px;
    line-height: 26px;
  }

  .page-main__introduction {
    margin:30px 164px 0 164px;
    padding: 0;
    line-height: 24px;
  }

  .page-main__introduction--home {
    line-height: 26px;
    margin: 26px 0 24px 0;
    text-align: center;
  }
}

@media (min-width: $width-desktop) {
  .page-main__header-wrapper {
    padding-top: 113px;
  }

  .page-main__header-wrapper--home {
    padding: 48px 0 25px 0;
  }

  .page-main__header {
    font-size: 30px;
    line-height: 26px;
    padding: 0 380px;
  }

  .page-main__header--home {
    font-size: 21px;
    line-height: 26px;
    padding: 0 380px;
  }

  .page-main__introduction {
    padding: 0;
    margin: 30px 380px 0 380px;
  }

  .page-main__introduction--home {
    padding: 0;
    margin: 28px auto 0 auto;
  }
}
