.photos {
  position: relative;
  margin-top: 27px;
  background-color: $basic-bg;
  border-top: solid 1px $border-group-color ;
}

.photos__list {
  @include reset();
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.photos__item {
    width: 320px;
    height: 414px - 46px;
    list-style: none;
    border: none;
    border-bottom: solid 1px $border-group-color ;
    margin: 0 auto;
    padding: 23px 0 23px 0;
}

.photos__image-wrapper {
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.photos__info-image {
  width: auto;
  margin: 0 auto;
  height: 112px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photos__info-wrapper {
  height: 56px - 18px;
  padding-top: 18px;
  padding-left: 20px;
}

.photos__name {
  /*position: absolute;
  top: 17px;
  left: 20px;*/
  text-transform: uppercase;
  display:block;
}

.photos__author {
  /*position: absolute;
  top: 27px;
  left: 20px;*/
  @include reset();
  color: $description-color;
  padding-top: 5px;
}

.photos__likes {
  /*position: absolute;
  top: 67px;
  left: 20px;*/
  /*right: 231px;*/
  font-weight: bold;
  height: 56px - 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.photos__like-link {
  width: 22px;
  height: 20px;
  margin-right: 11px;
}

.photos__like-icon {
  fill: #b2b2b2;
}

@media (min-width: $width-tablet) {
  .photos {
    margin-top: 70px;
    border: none;
  }

  .photos__list {
    width: 650px;
  }

  .photos__item {
    width: 325px;
    height: 347px;
    padding: 0;
    margin: 0;
    border: none;
  }

  .photos__info-image{
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    background-color: #f2f2f2;
  }

  .photos__item--big {
    width: 650px;
    height: 480px;
  }

  .photos__image-wrapper{
    width: 100%;
    height: 265px;
  }

  .photos__image-wrapper--big {
    width: 100%;
    height: 400px;
  }

  .photos__info-wrapper {
    height: 56px - 20px;
    padding-top: 20px;
    padding-left: 22px;
  }

  .photos__likes{
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 30px;
  }
}

@media (min-width: $width-desktop) {
  .photos {
    margin-top: 70px;
  }

  .photos__list {
    width: 1200px;
    height: 667px;
  }

  .photos__item {
    width: 400px;
    height: 267px;
    padding: 0px;
    margin: 0;
    border: none;
  }

  .photos__item--big {
    width: 100%;
    height: 400px;
  }

  .photos__image-wrapper {
    height: 100%;
  }

  .photos__info-image {
    height: 80px;
    margin-top: -80px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10000;
  }

  .photos__name {
    color: #ffffff;
  }

  .photos__author{
    color: #ffffff;
  }
}
