.reasons::before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 160px solid $menu-bg;
  border-right: 160px solid $menu-bg;
}

.reasons__inner{
  display: flex;
  flex-wrap: wrap;
}

.reasons__list{
  @include reset();
}

.reasons__item{
  @include reset();
  list-style: none;
}

.reasons__image-wrapper{
  height: 257px;
  width: 100%;
  overflow: hidden;
}

.reasons__slogan-wrapper{
  height: 153px;
  width: 100%;
  @include reset();
  text-align: center;
  padding-top: 39px;
  color: $menu-color;
  background: $menu-bg;
}

.reasons__slogan{
  font-size: 18px;
}

.reasons__description{
  line-height: 21px;
  margin: 13px 27px;
}

.reasons__list-options{
  @include reset();
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 420px;
}

.reasons__item-options{
  width: 226px;
  text-align: left;
  padding-left: 70px;
  &::before{
    content: "";
    display: block;
    background: url(/img/icon-house.svg) no-repeat;
  }
}

.reasons__option-title{
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

}

.reasons__option-description{
  font-size: 14px;
  line-height: 21px;
}
.reasons__other-list{
  @include reset();
  display: flex;
  flex-wrap: wrap;
}

.reasons__other-item{
  @include reset();
  height: 167px;
  list-style: none;
  background: $block-bg;
  border-bottom: 1px solid $border-group-color;
}

.reasons__other-item-slogan-wrapper{
  @include reset();
  text-align: center;
  padding-top: 28px;
}

.reasons__other-item-slogan{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.reasons__other-item-description{
  font-size: 14px;
  line-height: 21px;
  color: $description-color;
}

@media (min-width: $width-tablet){
  .reasons::before{
    display: none;
  }
  .reasons__inner{
    width: $width-tablet;
    height: 256px;
    flex-direction: row-reverse;
  }

  .reasons__inner--full{
    flex-direction: row;
  }

  .reasons__list-options{
    height: 330px;
  }

  .reasons__image-wrapper{
    width: 512px;
    height: 254px;
    background-color: #cccccc; /*временно*/
  }

  .reasons__slogan-wrapper{
    width: 256px-90px;
    height: 211px;
    padding: 43px 45px 0 45px;
  }

  .reasons__slogan{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }

  .reasons__description{
    width: auto;

  }
  .reasons__other-item{
    width: 256px;
    height: 256px;
  }

  .reasons__item-options{
    width: 166px;
    padding: 0 45px;
    height: 330px;
    text-align: center;
  }

  .reasons__other-item-slogan-wrapper{
    padding: 45px 50px 0 50px;
  }

  .reasons__other-item-slogan{
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: $width-desktop){
  .reasons__inner{
    width: $width-desktop;
    height: 256px;
    flex-direction: row-reverse;
  }

  .reasons__inner--full{
    flex-direction: row;
  }

  .reasons__image-wrapper{
    width: 800px;
    height: 256px;
  }

  .reasons__slogan-wrapper
  {
    width: 400px;
    height: 256px;
    padding: 0px;
  }

  .reasons__slogan{
    display: block;
    font-size: 21px;
    padding: 50px 121px 0 121px;
    text-align: center;
  }

  .reasons__description{
    padding: 0 100px 0 100px;
  }

  .reasons__other-item{
    width: 400px;
    height: 256px;
  }

  .reasons__item-options{
    width: 280px;
    height: 330px;
    padding: 0 60px;
    text-align: center;
  }


  .reasons__other-item-slogan{
    display: block;
    padding: 0px 80px 0 80px;
  }

  .reasons__other-item-description{
    padding: 0px 8px 0 8px;
  }
}
