.review{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.review__group{
  @include reset();
  width: 280px;
  border: none;
  border-bottom: solid $border-group-color 1px;
}

.review__group-header{
  @include review-text();
  /*padding: 23px 0 23px 0;*/
  text-align: center;
}

.review__wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.review__wrapper--wrap{
  flex-wrap: wrap;
}

.review__value{
  @include review-text();
  width: 100%;
}

.review__radio-caption{
  @include review-text();
}

.review__checkbox-caption{
  @include review-text();
}

.review__caption-second{
  display: none;
}

.review__send-button{
  @include review-text();
}

.review__caption{
  color: $description-color;
  white-space: nowrap;
  padding-right: 14px;
}

.review__value{
  background-color: $input-bg;
  border: none;
  height: 58px;
}

.review__group-textarea{
  @include review-text();
  background-color: $input-bg;
  border: none;
  width: 100%;
  height: 160px;
}

.review__group-textarea::-webkit-input-placeholder{
  color: $basic-color;
}

.review__value::-webkit-input-placeholder{
  color: $basic-color;
}

.review__group-textarea::-moz-placeholder{
  color: $basic-color;
  font-size: 18px;
  font-weight: bold;
}
.review__value::-moz-placeholder{
  color: $basic-color;
}

.review__group-textarea:-ms-input-placeholder{
  color: $basic-color;
  font-size: 18px;
  font-weight: bold;
}
.review__value:-ms-input-placeholder{
  color: $basic-color;
}

.review__send-button{
  width: 100%;
  height: 58px;
  border:none;
  background-color: $menu-bg;
  color: $menu-color;
  text-align: center;
}

.review__note{
  display: none;
}

@media (min-width: $width-tablet){
  .review{
    width: 650px;
    margin: 0 auto;
  }

  .review__group{
    border: none;
    border-top: solid $border-group-color 1px;
  }
  .review__group--floating{
    order: -1;
  }

  .review__group--center{
    margin: 0 auto;
  }

  .review__group--big
  {
    width: 100%;
  }

  .review__container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .review__container--resize{
    height: 140px; /*временно*/
  }

  .review__caption-first{
    display: none;
  }

  .review__caption-second{
    display: inline;
  }

  .review__group-textarea{
    margin-bottom: 58px;
  }

  .review__send-button{
    width: 324px;
  }

  .review__note{
    display: block;
  }
}

@media (min-width: $width-desktop){
  .review{
    width: 960px;
  }

  .review__group{
    width:400px;
    border: none;
  }
  .review__group-header{
    font-size: 21px;
  }
  .review__group--big
  {
    width: 100%;
  }
  .review__wrapper--wrap{
    flex-wrap: nowrap;
  }

  .review__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .review__checkbox-value{
    padding-bottom: 0px;
  }

  .review__wrapper--resize{
    min-width: 400px; /*временно*/
  }

  .review__wrapper--grow{
    flex-grow: 0.47;
  }

  .review__group--floating{
    order: -1;
  }

  .review__group--center{
    width: 100%;
  }

  .review__caption-first{
    display: inline;
  }

  .review__caption-second{
    display: none;
  }

}
