.search-hotels{
  height: 622px;
  background-color: $basic-bg;
  font-family: ptsans;
  text-align: center;
  margin: 33px 0 0px 0;
}

.search-hotels__slogan{
  color: $basic-color;
  font-size: 21px;
}

.search-hotels__introduction{
  color: $description-color;
  font-size: 14px;
}

.search-hotels__link-search{
  display: block;
  height: 58px;
  line-height: 58px;
  @include menu-link(21px);
}

.search-hotels__link-search:hover{
  @include menu-link-hover();
}

.search-hotels__link-search:active{
  @include menu-link-active();
}

.search-hotels__map{
  @include reset();
  margin-top: 50px;
}