html {
  width: 100%;
  overflow-x: hidden;
  background-color: $body-bg;
}

body {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: "ptsans", "Tahoma", sans-serif;
  font-size: 14px;
  color: $basic-color;
  background-color: $basic-bg;
}

@media (min-width: 768px) {
  body {
    width: 768px;
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    min-width: 1200px;
    box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
  }
}
