body {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "ptsans", "Tahoma", "sans-serif";
  font-size: 14px;
  /*line-height: 21px;*/
  color: $basic-color;
  background-color: $basic-bg;
}

@media (min-width: 768px){
  body{
    width: 768px;
    min-width: 768px;
  }
}

@media (min-width: 1200px){
  body{
    width: 1200px;
    min-width: 1200px;
  }
}
