$basic-bg: #FFFFFF;
$menu-color: #FFFFFF;
$menu-disable-bg: #e5e5e5;
$menu-bg: #81b3d2;
$menu-hover-bg: #669ec0;
$menu-active-bg: #5496bd;
$menu-active-color: #94b9d2;
$block-bg: #EEEEEE;
$input-bg: #f2f2f2;
$border-group-color: #e5e5e5;
$basic-color: #000000;
$description-color: #333333;

$time-new-roman: 'Times New Roman';
