@font-face {
  font-family: "ptsans";
  src: url("fonts/ptsans.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "ptsans";
  src: url("fonts/ptsansbold.woff") format('woff');
  font-weight: bold;
}
